@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Pacifico&family=Style+Script&display=swap');
body{
    transition: 0.9s;
    margin: 0;
    padding: 0;
    background-color: rgb(139, 243, 123);
    font-family: 'Pacifico', cursive;
    color:rgb(57, 57, 57);
}
h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 300;
    margin: 10px 0;
}

h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin: 50px 0 10px 0;
}

p {
    margin: 0px;
    font-size: 20px;
}

button{
    background-color: rgb(127, 255, 180);
    border-radius: 15%;
}

a {
    color:rgb(34, 175, 93);
    font-size: 20px;
    text-decoration:double;
    font-weight:100;
    font-family: 'Pacifico', cursive;
}
.nav-link{
    color:rgb(94, 245, 187)
}

.navbar-brand{
    color:rgb(94, 245, 187)
}



.dark a {
    color:rgb(94, 245, 187);
}



header{
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    color:rgb(52, 230, 67);
    
}

.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(90, 92, 90);
  position: relative;
  cursor: pointer;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(127, 255, 195);
  position: absolute;
  top: 5px;
  margin-left: 3px;
  transition: .9s;
  box-shadow: /* inset 4px 4px 4px rgb(255, 255, 255) */
    inset -4px -4px 4px rgb(195 193 198 / 90%);
} 
.dark {
  background-color: rgb(57, 57, 57);
  transition:1s;
}

.moon{
    width: 20px;
    height: 20px;
    border-radius:10px;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 45px;
}

.dark .flicker {
    transform: translateX(40px);
    transition: .9s;
}

.dark > * {
    color: rgb(255, 255, 255);
}

.main{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 30;
}

.main-text{
   /*  width: 50%; */
    padding: 30px;
    margin-bottom: 100px;
    
}

.square{
    width:98%;
    margin: 1%;
    height: 350px;
    background-color: aquamarine;
    text-align: center ;
    color:black;

}

.dark .square{
    background-color: rgb(71,71,71);
}


.sub-section {
    display: flex;
    flex-wrap: wrap;
   
}

.hero-image {
    position: relative;
    width: 50%;
    height: 350px;
    display: block;
    margin-bottom: 100px;
}

.cube {
    position: absolute;
    width: 80px;
    height: 80px;
    /* background-color: rgb(216, 209, 210); */
    transform: rotate(-25deg) skew(25deg);
}

.cube:before{
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;
    /* background-color:blue; */
    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}
.cube:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;
    /* background-color:rgb(23, 214, 71); */
    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
}

#html {
    left:100px;
    bottom: 80px;
    background-image: url("../images/html-square.png");
    background-size: cover;
    background-color: rgb(193, 144, 240);
    box-shadow: -60px 60px 20px rgb(50 50 50/ 15%);
}

#html::before{
    background-color: rgb(156, 131, 180);
}

#html:after{
    background-color: rgb(200, 168, 228);
}

#css {
    left:250px;
    bottom: 250px;
    background-image: url("../images/css-square.png");
    background-size: cover;
    background-color: rgb(228, 90, 221);
    box-shadow: -100px 100px 20px rgb(50 50 50/ 15%);
}

#css::before{
    background-color: rgb(189, 133, 190);
}

#css:after{
    background-color:rgb(231, 166, 227) ;
}

#javascript {
    left:300px;
    bottom: 80px;
    background-image: url("../images/javascript-square.png");
    background-size: cover;
    background-color: rgb(32, 197, 106);
    box-shadow: -80px 80px 20px rgb(50 50 50/ 15%);
}

#javascript:before{
    background-color: rgb(56, 156, 101);
}

#javascript:after{
    background-color:rgb(98, 233, 159) ;
}

#react {
    left:450px;
    bottom: 180px;
    background-image: url("../images/react-square.png");
    background-size: cover;
    background-color: rgb(87, 24, 170);
    box-shadow: -80px 80px 20px rgb(50 50 50/ 15%);
}

#react:before{
    background-color: rgb(92, 73, 202);
}

#react:after{
    background-color:rgb(146, 132, 226) ;
}


footer{
    display: flex;
    justify-content: center;
    /*padding: 50px 10px;*/
    background-color: rgb(136, 136,136)
}


/* footer{
    display: flex;
    justify-content: center;
    padding: 100px 30px;
    background-color: rgb(136, 136,136)
} */

.dark footer{
    background-color: rgb(28, 28, 28)
}

@media only screen and (min-width: 970px){
    .main-text{
        width: 50%;
    }
    .square{
        width:48%;
        margin: 1%;
        height: 600px;
    }
}

@media only screen and (max-width: 1300px){
    .hero-image{
        display: none;
    }

}
